[uwsgi]
http = 0.0.0.0:8000
chdir = videoarchive
module = videoarchive.wsgi:application
master = True
pidfile = /tmp/videoarchive-master.pid
vacuum = True
max-requests = 5000
plugin = http,python3
plugins-dir = /lib/uwsgi/plugins
socket = /tmp/uwsgi.sock
processes={{ uwsgi_processes }}