{% extends "base.html" %}

{% block title %}Post a video{% endblock %}
{% block content %}
<div>
    <h3>Post your video!</h3>
    <form action="/posted" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="title">Short title</label><br>
        <input type="text" id="title" name="title"><br>
        <label for="file">File</label><br>
        <input type="file" id="file" name="file"><br>
        <input type="submit" value="Submit"><br>
    </form>
</div>
{% endblock %}